:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #00aa6c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-geist-sans), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;

  background: linear-gradient(to right, #ffffff 0%, #e5fce2 100%);

  border-bottom: 1px solid #eaeaea;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  color: #000;
}

nav h1 span {
  color: var(--accent);
}

nav a {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.2s;
}

nav a:hover {
  color: #000;
}
