.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: calc(100vh - 81px);

  background-color: #ffffff;
  padding: 1rem;
}
