.container {
  text-align: center;
  margin-bottom: 30px;
}

.label {
  margin-bottom: 10px;
  color: #666;
}

.button {
  padding: 10px 15px;
  margin: 0 5px 10px 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #f0f0f0;
  color: #333;
  transition: 0.2s;
}

.button:hover {
  background-color: #008f5a;
}

.active {
  background-color: #00aa6c;
  color: white;
}

.active:hover {
  background-color: #008f5a;
}
